* {font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;}
ul {padding:0;}
li {
  list-style-type: none;
margin:0;}
body {
  overflow-x:hidden;
  margin:0;
}
h1, h2 {display:none;}
a {cursor: pointer;}
section {
  display: flex;
flex-direction: column;
margin:0 auto;
background-color:#f5f5f5;
position:relative;
top:50px;
}

article {
  min-height:140px;
  margin:10px 0; 
  display:flex;
}
input:focus-visible {
  outline:1px solid black!important;}

.d-flex {display:flex;}
.d-none {display:none;}

/*---Header--*/
header {    

  max-width: 80%;
  margin: 0 auto;
}
.sticky-header {  
  display: flex;
background-color: #F8F8F8;
position: fixed;
width: 90%;
margin: 0;
top: 0;
z-index: 1;
  
}
.logo { 
height: 50px;
flex: 0.2;
display: flex;
}


.logo__item--lunarillos {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png) no-repeat center left;
  flex: 10;
}

.separador {
  flex:1;
}
nav {flex:3;}

.menu {
  display:flex;
  flex:1.2;
  justify-content:end;
}
.menu__item, .menu__ingresar {
  width:50px;
  display:flex;
}

.menu__item--leyenda, .rrss {display:none;}

.menu__item--user {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") 13px 10px no-repeat;
}
.menu__item--search {
  background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
}
.menu__item--cart {
  background: #fff url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -66px 10px no-repeat;
}
.menu__item--counter {
  background-color:#FF5959;
  display:flex;
  justify-content: center;
}
.menu__item--counter p {
  color:white;
  align-self:center;
}
.search {
  position:relative;
}
.search form {
  position: absolute;
  right: 0;
  top: 50px;
}
.search label {display:none;}
.search input  {
  width: 240px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;

}
.quick-links {display:none;}
.logotipo {
  display:flex;
  flex:5;
}
.logotipo picture {
  padding:10px;
  margin-top:30px;
}
.navegacion {display:flex;}
.navegacion__item p {display:none;}

/*---MAIN---*/
.marcador-seccion {
  position: relative;
  bottom: 50px;
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 93px;
}

.marcador-seccion picture img {
width:100%;  
}
.marcador-seccion legend {
  text-align:center;
text-transform:uppercase;
border-top: 1px solid black;
border-bottom: 1px solid black;
max-width:120px;
margin: 10px auto 0;
font-weight:700;}
.galeria-bloque {
  width:80%;
  margin: 0 auto;
  overflow:hidden;
}
.galeria-bloque__unacol--moldes {
  background-image:url(https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg);
  background-size:cover;
}
.galeria-bloque__doscol--basicos {
  background-image:url(https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg);
  background-size:cover;
}
.galeria-bloque__doscol--electro {
  background-image:url(https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg);
  background-size:cover;
}
.caja-blanca {
  background-color:rgba(255,255,255,0.8);
  padding:15px;
  align-self: flex-end;
}
.caja-blanca h3 {
  font-size:1em;
  color:#67635F;

}

.caja-blanca__descripcion {
  display:none;}


/*----Tablet--*/
@media screen and (min-width:600px){
  section {width: 90%;}
  article {margin: 0 0 10px 10px;}
  /*---header-tablet --*/
 header{
    max-width:90%;
  }
.quick-links {
  flex: 5;
  display:flex;
}

.quick-links__item{
flex:5;
height: 30px;
margin-top: 60px;
display:flex;
justify-content: center;
}
.quick-links__item:nth-child(n+2){
  margin-left:5px;
}
.quick-links__item span {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -244px 4px no-repeat;
  width: 30px;
  display: inline-block;
  height: 30px;

}
.quick-links__item a {
  align-self: center;
  color:white;
  font-weight: 700;
}
.quick-links__item--new {
  background: #9faa4d;
}
.quick-links__item--promo {
  background: #8e789d;
}

.logotipo picture:first-child{display:none;}
.logotipo picture:nth-child(2){display:block;}
/*---main-tablet--*/
  .galeria-bloque {
  display:flex;
  width:100%;
  height: 408px;
}


.galeria-bloque__unacol {
  flex:3;
  height:100%;
}
.galeria-bloque__doscol {
  flex:7;
}
.galeria-bloque__doscol article {
  height:49%;
}
.caja-blanca {
  width:100%;
height:200px;
}

.caja-blanca > *{
  padding:5px;
  margin:0;
}

.caja-blanca h3 {
  font-size:1.3em;
}

.caja-blanca__descripcion {
  display:block;
  color:#67635F;
  font-size:0.8em;
  }

.galeria-bloque__doscol .caja-blanca {
  flex: 0.45;
  height: 80%;
  padding: 20px;
}
.galeria-bloque__doscol--down {
  justify-content:flex-end;}
}
/*---Desktop--*/
@media screen and (min-width:1240px){
  /*---Header--*/
  .logo { 
 flex: 0.5;
  }

  .logo__item {
    flex:3;
  }
  .logo__item:nth-child(n+2){
    margin-left:5px;
    height: 70px;
  }
  .logo__item--lunarillos {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/maria-lunarillos.png) #FF5959 bottom center no-repeat;
    flex: 4;
    height: 140px;
  }
  .logo__item--cucute {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/cucute.png) #6199AF bottom center no-repeat;
    flex: 3;
  }
  .logo__item--mumucho {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/mumuchu.png) #F6B436 bottom center no-repeat;
    flex: 3;
  }
  .menu__ingresar {
    display:flex;
    flex:1;
  }
  .menu__item--leyenda {
    display:flex;
    align-self: center;
    padding: 6px;
  }
  .rrss {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:0.8;
  }
  .rrss .menu__item {
    width:20px;
    height:20px;
    margin-left:10px;
  }

  .menu__item--fb {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) transparent -10px -540px no-repeat;
    margin-left:0;
  }
  .menu__item--tw {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) transparent -43px -540px no-repeat;
  }
  .menu__item--ig {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) transparent -76px -540px no-repeat;
  }
  .menu__item--pt {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) transparent -110px -540px no-repeat;
  }
  .menu__item--yt {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) transparent -185px -540px no-repeat;
  }
  .logotipo {flex:3;}
  .logotipo picture:nth-child(2){margin-top:100px;}

  .navegacion {
    display:flex;
    margin:20px auto;
    justify-content:end;
  }
  .navegacion__item {
    flex:2;
    height:100px;
    max-width:100px;
  }
  .navegacion__item:nth-child(n+2){
    margin-left:10px;
  }
  .navegacion__item--ut {
    background: #f2f2f2 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png) no-repeat center;
    background-size: 50%;
  }
  .navegacion__item--ing {
    background: #f2f2f2 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png) no-repeat center;
    background-size: 50%;
  }
  .navegacion__item--fiest {
    background: #f2f2f2 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png) no-repeat center;
    background-size: 50%;
  }
  .navegacion__item--marc {
    background: #f2f2f2 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/delantal.png) no-repeat center;
    background-size: 70%;
  }
  .navegacion__item--blog {
    background: #f2f2f2 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg) no-repeat center;
    background-position: -391px 0;
  }
  .navegacion__item p {
    display:block;
    position:relative;
    top:90px;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
  }
  .navegacion__item:hover {
  background-color:#FF5959;
  }
  /*---Main---*/
  section {max-width:90%;}
  .marcador-seccion {
    max-width:120px;
  }
  .marcador-seccion legend {
    font-size:1.7em;
    max-width: none;;
  }
  .galeria-bloque {height:540px;}
  .galeria-bloque__unacol {height:100%;}
  .galeria-bloque__doscol > div {height:49%;}
  .caja-blanca {
    height: auto;
    align-self: end;
    flex: 0.7;
    position: relative;
    } /*Para mostrar el triangulo en ::after*/
  .galeria-bloque__doscol .caja-blanca {
    flex:0.3;
    height:50%;
  }
  .caja-blanca::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 172px solid rgba(255,255,255,0.8);
    border-right: 105px solid transparent;
    position: absolute;
    right: -105px;
    top: 0;
}
.galeria-bloque__doscol--down .caja-blanca {
  margin-right: 14%;
}
}